GravityStations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:aasg="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/GravityStation/0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gmlsf="http://www.opengis.net/gmlsf" targetNamespace="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/GravityStation/0.1" elementFormDefault="qualified" version="1.09">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf" schemaLocation="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd"/>
	<xs:annotation>
		<!-- This XSD document, including XML schema, indicates the content requested for observations of the acceleration of gravity. Fields in the content model will become XML elements in interchange documents for WFS simple feature in the USGIN system.-->
		<!--Annotated version 0.1.1. This XSD document was created on 2013-06-04 by Christy Caudill, AZGS. Field Description annotations standardized 2013-08-22 by Esty Pape, AZGS.-->
		<xs:appinfo source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
			<gmlsf:GMLProfileSchema>
http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd </gmlsf:GMLProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="GravityStation" type="aasg:GravityStationType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="GravityStationType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="OBJECTID" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Integer record count, added by ArcGIS servers during service deployment; not required but cannot be removed when deploying from ArcGIS feature class. Not user maintained, so this element appears in XML implementation but not in the Content Model Template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObservationURI">
						<xs:annotation>
							<xs:documentation>Unique identifier for this observation. This is the identifier (Uniform Resource Identifier) that will be used to cross-reference data, samples, and other observations to the observation represented by this record. Best practice is to define an http URI that will dereference to a normative description of the observation. USGIN URI's may be redirected to any URL using the http://resources.usgin.org redirector; contact the USGIN development team at AZGS for instructions.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ObservationLabel" type="xs:string">
						<xs:annotation>
							<xs:documentation>Short text string for labeling the feature on maps. Can be the same as feature name. A label may be an OtherLocationName, OtherID or the Name or some combination.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notes" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Any additional information to be provided, including description and other data not captured by the template, details about collection method, contact information for related parties (original collector, project PI), collection platform or Launch, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StationName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Common or human-readable name by which the feature is known. Recommend using only web-safe characters (a-z A-Z 0-9 _-.) in the name. Be consistent in the naming convention used within any given dataset. The station plays the role of 'sampling feature' for the gravity observation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StationIdentifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unique identifier for the station at which the observation was made.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alternative identifier(s) for the feature. 'Indicate the authority from which the OtherID is derived with a short (lower case) prefix delimited by a colon ':' If identifiers from multiple different authorities are available, delimit these identifiers with the pipe '|' character. For example, if a well were known to the Arizona Geological Survey (AZGS) by the id number 1337, the prefix for 1337 would be azgs:, and the identifier string would be azgs:1337. Any such prefixes used to scope identifiers should be explained in the dataset metadata.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="County" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. County name. If unknown or not applicable use 'missing'. If offshore, specify 'offshore' in this field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="State" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. State name without abbreviations. If unknown or not applicable use 'missing'. For offshore locations, specify the governing or nearest state and list the county as 'offshore'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Latitude coordinate for the surface location of the feature; values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LongDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Longitude coordinate for the surface location of the feature; values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SRS" type="xs:string">
						<xs:annotation>
							<xs:documentation>The spatial reference system. It is recommended that an EPSG code be used to identify the SRS used to specify the location.  If an EPSG code is used, identify it as such with the prefix 'EPSG:' For common EPSG codes, see the Data Valid Terms tab. EPSG:4326 is the identifier for WGS84, and should be the text in this field. EPSG stands for European Petroleum Survey Group. EPSSG codes can be dereferenced by putting the code in this URL (replace 4326) http://spatialreference.org/ref/epsg/4326/.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationUncertaintyStatement" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information on how the original location was determined, e.g.: 1:250,000 map, gps unit, Google Earth, PLSS Conversion, Spatial Datum Conversion, e.g., NAD27 to WGS84.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Elevation_m" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Elevation, in meters, at ground level for the feature. 3 decimal places is recommended by the USGS (OFR 02-463, p.6). Elevations should be reported relative to mean sea level (MSL).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VerticalDatum" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The point of reference against which elevation measurements are made. Best practice: use mean sea level (MSL) as datum.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObservationDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>Date for the record: date on which observation, measurement or test was made or specimen was collected. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObservedGravity_mgal" type="xs:double">
						<xs:annotation>
							<xs:documentation>Value of acceleration of gravity as measured using the instrument and procedure described in the Procedure element.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CompleteBouguerValue_mgal" type="xs:double">
						<xs:annotation>
							<xs:documentation>Observed gravity measurement with Latitude, FreeAir, Bouguer, and Terrain corrections applied. 4 decimal places is recommended by the USGS (OFR 02-463, p.6).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatitudeCorrection_mgal" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The gravity measurement with a latitude correction applied (see Keller, 2007; http://www.geophysik.uni-muenchen.de/~jowa/praktikum09/gravity_data.pdf, page 6). 4 decimal places is recommended by the USGS (OFR 02-463, p.6).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FreeAirCorrection_mgal" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Correction for variation in observed gravity based on elevation of station; Newton’s law of gravitation predicts that gravity varies with distance from the center of the Earth. 4 decimal places is recommended by the USGS (OFR 02-463, p.6).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BouguerCorrection_mgal" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Correction for variation of gravity with elevation due to the mass of the material between the gravity station and the vertical datum. 4 decimal places is recommended by the USGS (OFR 02-463, p.6).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TerrainCorrection_mgal" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Correction for effects of nearby topography. Hills and valleys attract the mass in the gravimeter (valleys are considered to have negative density with respect to the surrounding rocks) and reduces the observed value of gravity. This correction is always positive (a hill pulls up on the mass in the gravimeter and a valley is a mass deficiency). 4 decimal places is recommended by the USGS (OFR 02-463, p.6).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsostaticCorrection_mgal" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Correction to account for the gravitational effects of the masses that compensate topography and remove them from the Free Air or Bouguer anomaly values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Uncertainty_mgal" type="xs:double">
						<xs:annotation>
							<xs:documentation>Data contributors should include an estimated accuracy for their data (USGS OFR 02-463, p.6). 4 decimal places is recommended by the USGS (OFR 02-463, p.6).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObservationMethod" type="xs:string">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Instrument" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of the instrument used to make the observation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Observer" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of the individual who made the observation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaseStation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of base station used as calibration for measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RelatedResource" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This may be one to many http links to resources (logs, pictures or other documents if available online. Should be an http:// address (URL)) related to the observation described in each record. Separate multiple values with the pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MetadataURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>URI identifying (and ideally dereferencing to get) a full formal metadata record for the observation report. A time series of observations may all reference the same metadata record that provides contact information and details on procedure, etc.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Source" type="xs:string">
						<xs:annotation>
							<xs:documentation>Mandatory. Short text explanation of source of information defining this feature or record; may be author-date type citation, well log, report, data files etc., but should include some indication of how digital data originated. If unpublished data, provide researcher name, date and research institution for proper citation. Separate multiple citations with pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
